<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button 
      routerLink="/"
      class="btn btn-link"
    >
      Home
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>11.11.1111</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis asperiores dignissimos laboriosam repudiandae quas placeat omnis mollitia ab at eligendi reiciendis blanditiis incidunt earum, ipsa eos. Nesciunt placeat perspiciatis eligendi excepturi mollitia vitae quis corporis reiciendis. Doloribus, adipisci? Laudantium, cupiditate impedit! Praesentium porro, autem culpa distinctio quod aperiam repellendus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis asperiores dignissimos laboriosam repudiandae quas placeat omnis mollitia ab at eligendi reiciendis blanditiis incidunt earum, ipsa eos. Nesciunt placeat perspiciatis eligendi excepturi mollitia vitae quis corporis reiciendis. Doloribus, adipisci? Laudantium, cupiditate impedit! Praesentium porro, autem culpa distinctio quod aperiam repellendus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis asperiores dignissimos laboriosam repudiandae quas placeat omnis mollitia ab at eligendi reiciendis blanditiis incidunt earum, ipsa eos. Nesciunt placeat perspiciatis eligendi excepturi mollitia vitae quis corporis reiciendis. Doloribus, adipisci? Laudantium, cupiditate impedit! Praesentium porro, autem culpa distinctio quod aperiam repellendus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis asperiores dignissimos laboriosam repudiandae quas placeat omnis mollitia ab at eligendi reiciendis blanditiis incidunt earum, ipsa eos. Nesciunt placeat perspiciatis eligendi excepturi mollitia vitae quis corporis reiciendis. Doloribus, adipisci? Laudantium, cupiditate impedit! Praesentium porro, autem culpa distinctio quod aperiam repellendus.</p>
  </div>
</div>